@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Base
 */

body {
  color: theme('colors.neutral.900');
  background: theme('colors.white');
}

/*
 * Top / Bottom Bars
 */

html,
body {
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
}

body {
  position: relative;
  z-index: 0;
  padding: 2rem;
}

body::before,
body::after,
#__root::before,
#__root::after {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  height: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background: theme('colors.white');
}

#__root {
  position: relative;
}

#__root::before,
#__root::after {
  margin: 0;
  z-index: 50;
}

/* Tailwind small breakpoint */
@media (max-width: theme('screens.sm')) {
  body::before,
  body::after,
  #__root::before,
  #__root::after {
    height: 1.5rem;
  }
}

body::before {
  border-bottom: 2px solid theme('colors.yellow.500');
  top: 0;
}

body::after {
  border-top: 2px solid theme('colors.yellow.500');
  bottom: 0;
}

#__root::before,
#__root::after {
  margin: 0;
}

#__root::before {
  top: 0;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25);
}

#__root::after {
  bottom: 0;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.125);
}

/*
 * Dark mode
 */

.dark body,
.dark body::before,
.dark body::after,
.dark #__root::before,
.dark #__root::after {
  background: theme('colors.neutral.900');
}

.dark #__root::before {
  box-shadow: 0 0 5px 5px rgba(23, 23, 23, 0.5);
}

.dark #__root::after {
  box-shadow: 0 0 5px 5px rgba(23, 23, 23, 0.25);
}

.dark body {
  color: theme('colors.neutral.100');
}

/*
 * Selection
 */

*::selection {
  color: theme('colors.yellow.900');
  background: theme('colors.yellow.300');
}

html.dark *::selection {
  color: theme('colors.yellow.300');
  background: theme('colors.yellow.900');
}
